<div class="grid-footer" style="background-color:#e8df9c">

    <button *ngIf="localDelivery"  mat-icon-button (click)="gotoHome()"
        [ngStyle]="{'color': config? config.color1 : '#c2beb6'}">
        <span class="material-icons" [ngClass]="{'bell' : calling}">
            home
        </span>
    </button>

    <div>
        <button mat-icon-button [matMenuTriggerFor]="lang" [ngStyle]="{'color': config? config.color1 : '#c2beb6'}">
            <span class="material-icons">
                language
            </span>
        </button>
        <mat-menu #lang="matMenu">
            <button mat-menu-item (click)="onClick('1')">English</button>
            <button mat-menu-item (click)="onClick('0')">Español</button>
        </mat-menu>
    </div>

    <button *ngIf="!localDelivery"  mat-icon-button 
        [ngStyle]="{'color': config? config.color1 : '#c2beb6'}">

        <span class="material-icons" [ngClass]="{'bell' : calling}">
            notifications
        </span>
    </button>

    <div>
        <button mat-icon-button style="position: relative;"  [matMenuTriggerFor]="shopingCar"
            [ngStyle]="{'color': comanda? (config ? config.color1 : '#1f1f1f') : '#c2beb6'}" [disabled]="!comanda">
            <span class="material-icons" [ngClass]="{'cd-cart': cartEffect}" *ngIf="comanda">
               shopping_cart
            </span>

            <span class="material-icons" *ngIf="!comanda">
                remove_shopping_cart
            </span>
        </button>

        <mat-menu #shopingCar="matMenu">
            <button mat-menu-item (click)="gotoComanda()" >
                <span class="material-icons" style="position: relative;top: 7px;">
                    shopping_cart
                </span>
                Ir
            </button>
            <button mat-menu-item (click)="cleanComanda()">
                <span class="material-icons" style="position: relative;top: 7px;">
                    remove_shopping_cart
                </span>
                Limpiar
            </button>
        </mat-menu>
    </div>

    <button mat-icon-button disabled (click)="gotoPedidoConfirmado()" [ngStyle]="{'color': config ? config.color1 : '#1f1f1f'}">
        <span class="material-icons" *ngIf="comanda">
            credit_card
        </span>
        <span class="material-icons" *ngIf="!comanda">
            crop_landscape
        </span>
    </button>

    <button mat-stroked-button color="primary" (click)="gotoPedidoConfirmar()"
        [ngStyle]="{'color': comanda? (config ? config.color1 : '#1f1f1f') : '#c2beb6'}" [disabled]="!comanda">
        Confirmar Pedido
    </button>


</div>