<app-header></app-header>
<app-spinner class="spinner" *ngIf="spinner"></app-spinner>



<div style="padding:0px; background-color: #e8df9c;top: 80px;position: fixed;width: 100%;z-index: 10;">
    <mat-form-field style="width: 84%;margin:0 8%;">
        <mat-label [ngStyle]="{'color':  '#1f1f1f'}">
            <mat-icon>search</mat-icon> Buscar
        </mat-label>
        <input matInput type="text" placeholder="Buscar" [ngModel]="searchModel"
            (ngModelChange)="updateSearchModel($event)">
        <button *ngIf="searchModel" matSuffix mat-icon-button aria-label="Clear" (click)="searchModel=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>




<div style="height: 180px; width: 95%;max-width: 800px; margin: 145px auto 0;" *ngIf="promociones?.length">
    <swiper class="swiper-container" [config]="configSwiper">
        <div *ngFor="let promocion of promociones">
            <div class="promotion-box-grid">
                <div style="align-self: center;border-right: 1px dashed #be5947;padding-right: 15px;">
                    <div class="promotion-box-grid__promo">
                        Promo:
                    </div>
                    <div class="promotion-box-grid__promo-text">
                        {{promocion.nombre}}
                    </div>
                    <div class="promotion-box-grid__ingredient">Ingredientes:</div>
                    <div class="promotion-box-grid__ingredient-text">
                        {{promocion.ingredientes}}
                    </div>
                </div>

                <div class="promotion-box-grid__valor">
                    <div *ngIf="promocion.foto" class="header-image" [ngStyle]="{'background-image': 'url(' + promocion.foto + ')'}">
                    </div>
                    <div *ngIf="!promocion.foto" class="header-image" [ngStyle]="{'background-image': 'url(./../assets/placeholder-img.jpg)'}">
                    </div>
                    <br>
                    ${{promocion.precio | number}}

                    <br>
                    <button mat-stroked-button color="primary" style="margin-top: 10px;"
                        [ngStyle]="{'color': '#1f1f1f'}" (click)="openDialog(promocion);">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </swiper>
</div>

<div [@listAnimation]="categorias?.length" class="items-container"
    [ngStyle]="{'margin-top': promociones?.length ? '0' : '140px'}">
    <div class="list-custom-box" *ngFor="let categoria of categorias | listFilter: searchModel">
        <div class="grid-comanda" *ngIf="!categoria.subcategorias.length" (click)="gotoDetalles(categoria)">
            <div class="list-custom-box__title" [ngStyle]="{'color':  '#1f1f1f'}">
                {{categoria.nombre}}<br>
                <small *ngIf="!categoria.subcategorias.length" style="text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.01);" [ngStyle]="{'color':'#7faedd'}">Elige entre nuestras {{categoria.platos.length}}
                    opciones.</small>
            </div>
            <!-- <button *ngIf="!categoria.subcategorias.length" mat-stroked-button color="warn"
                (click)="gotoDetalles(categoria)">
                <span>
                    Ir
                </span>
            </button> -->
        
        </div>

        <mat-accordion *ngIf="categoria.subcategorias.length">
            <mat-expansion-panel *ngFor="let sub of categoria.subcategorias"
                style="box-shadow: none; background-color: transparent;">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: .8rem;" [ngStyle]="{'color':  '#1f1f1f'}">
                        {{categoria.nombre}}
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>


                <div class="list-custom-box__title" [ngStyle]="{'color':  '#1f1f1f'}">
                    {{sub.nombre}}
                    <button mat-stroked-button color="warn" (click)="gotoDetalles(categoria)">
                        <span>
                            Ir
                        </span>
                    </button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>


<app-footer (eventClicked)="childEventClicked($event)" [comanda]="comanda" [cartEffect]="cartEffect"></app-footer>