/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: #91c09e;
}
body {
  margin: 0;
  font-family: "Pacifico", cursive;
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  margin: 0 !important;
}

.spacer {
  flex: 1 1 auto;
}

@import "~@angular/material/theming";

// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .text-color-primary {
    color: mat-color($primary);
  }
  .text-color-secondary {
    color: mat-color($accent) !important;
  }
  .warnColorBG {
    background-color: mat-color($warn);
  }
}

.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  top: 0;
  left: 0;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

button {
  border-radius: 30px !important;
}

.mat-snack-bar-container {
  background-color: #f48874!important;
  border-radius: 18px!important;
}
